includes:
    - .Build/vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
        - Classes
        - Tests
    excludePaths:
        - .Build/*
        - Documentation/*
    bootstrapFiles:
        - .Build/vendor/autoload.php
    treatPhpDocTypesAsCertain: false
